
<app-header *ngIf="!manager" class="header"></app-header>

<app-header-manager *ngIf="manager" class="header"></app-header-manager>
<!-- <app-home></app-home> -->
<!-- <app-signed-users></app-signed-users> -->
<!--  -->
  <!-- <div class="main-content">
    <section id="home">
      <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/דגם 2 קורות חיים.pdf" width="100%">
          </div>
          <div class="carousel-item">
            <img src="../assets/דגם 2 קורות חיים.pdf" width="100%">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/landing-page/images/slider-1.jpg" width="100%">
          </div>
        </div>
      </div>
    </section>
    <section id="our_mission">
      <p>AAAAAAAAAA</p>
    </section>
    <section id="our_clients"></section>
    <section id="features"></section>
    <section id="pricing"></section>
    <section id="faqs"></section>
  </div> -->
 <!-- <div class=" triangular_flach bottom"><img src="../assets/money.png"></div> -->
 <meta name="robots" content="index "> 
 <meta name="keywords" content="משרות, דרושים, דרושות, דרושה, חרדי, חרדית, חרדיות, סביבת עבודה, גלאט, כשר, עבודה,פרנסה, כשרה,אידיאל, זו מזו">

 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="description" content="אידיאל- מאגר המשרות היחודי לעובדות החרדיות"> 
<router-outlet>
    <div id="divNav" style="width: 100vw;height:10vh;margin-bottom: 2vh"></div>
  <!-- <app-login></app-login> -->
</router-outlet>
<!-- <div > -->
        
<!-- <button  (click)="gotoTop()" *ngIf="isShow"><i class="material-icons" id="scroll" >
    keyboard_arrow_up
    </i></button> -->
    <label> <i class="material-icons" (click)="gotoTop()"  id="scroll" mat-icon-button> keyboard_arrow_up</i></label>
<!-- </div> -->
<!-- <app-job-posting></app-job-posting> -->


<app-footer></app-footer>
<!-- <button (click)="onClick()" class="btn btn-primary">Click Me</button> -->